@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
#head{
   background-color: rgb(102, 69, 69); 
   background-size: cover;
   text-align: center;
   padding-top: 10%;
   padding-bottom: 10%;
}