@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    align-content: center;
}
.navbar{
    background-image: url(../images/logo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:120vh;
    width: 120vh;
    background-position: center;
    background-color: black;
    align-items: center;

ul{
    list-style-type: none;
}
ul li{

}